<%= link_to rentals_path, class: "dropdown-item #{"unread" if !notification.read_at?}" do %>
  <b>
    <p class="text-center" id="notificationDropDown">
  <%= notification.actor.name %>
  <%= notification.action %>
  a <%= notification.notifiable_type.underscore.humanize.downcase %>
  </p>
  </b>
<% end %>
<br>