<div class="container-fluid text-left row">    
    <div class="row content">
	    
	  <div class="col-sm-2 sidenav">
      </div>
      
      <div class="col-sm-8"> 
        
        <div id="thanks" class="jumbotron text-xs-center">
          <h1 class="display-3">Opps!</h1>
          <p>
            <strong>
                You don't have access to this page!
            </strong>
            
          </p>
            
        
        </div>
                
      </div>
      
      <div class="col-sm-2 sidenav">
      </div>
    
    </div>
</div>


<!--https://codepen.io/JacobLett/pen/vyegPV-->