<div class="row" id="items_div">
  <% items.each do |item| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel" id="itemspanel">
        <div class="panel-heading"><%= item.name %></div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><%= item.description %></div><br>
        <div class="text-center"><%= item.user.name %></div><br>
        <div class="text-center"><%= link_to 'Borrow',  new_rental_path(:item_id => item.id), class:'btn btn-default' %></div>
    </div>
    </div>
  <% end %>
  <% if items.count == 0%>
    <h3 id="itemsheader">Sorry there is no items to view!</h3>
  <% end %>
</div>