<div class="row">
 <div class="container-fluid"><br>
  <% @categories.each do |category| %>
  <%= link_to category.name, fetch_items_path(:category_id => category.id), :remote => true, class:'btn btn-default' %><% end %>
  <br><br>
  </div>
</div>
    
