// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#itemsheader
    text-align: center

#itemspanel
    text-align: center
    padding: 10px
    border: 1px solid #FC9444
    width: 30%
    float: left
    margin: 12px

    
.panel-heading
    border-bottom: 1px solid #FC9444 !important
    
// #paneldiv
//     border-top: 1px solid #FC9444

// CSS for Item#show //

#itemShowButt
    padding: 10px 40px !important  
    width: 230px 
    border-radius: 10px !important 
    
    font-weight: 900 !important 
    text-transform: uppercase 
    border: none 
    font-family: 'Montserrat'
    color: white 
    background-color: #ff8b42 

#itemShowButt1
    padding: 10px 40px !important  
    width: 230px 
    border-radius: 10px !important 
    
    font-weight: 900 !important 
    text-transform: uppercase 
    border: solid  1px #ff8b42
    font-family: 'Montserrat'
    color: black 
    background-color: white 
    
#itemShowButt2
    padding: 10px 40px !important  
    width: 120px 
    border-radius: 10px !important 
    
    font-weight: 900 !important 
    text-transform: uppercase 
    border: solid  1px #ff8b42 
    font-family: 'Montserrat'
    color: white 
    background-color: #ff8b42 
    
#itemShowPar
    padding-top: 10px
    

// End of CSS for Item#show //