// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rentalform
    padding: 10px 50px
    background-color: white
    width: 100%
    display: inline-block
    border: 1px solid #ccc
    border-radius: 4px
    box-sizing: border-box
    
#itemsheader
    text-align: center

#itemspanel
    text-align: center
    padding: 10px
    border: 1px solid #FC9444
    width: 30%
    float: left
    margin: 9px

.style_image
    width: 25px
    height: 20px 
    
.panel-heading
    border-bottom: 1px solid #FC9444 !important
    
// #paneldiv
//     border-top: 1px solid #FC9444

// CSS for Item#show //

#itemShowButt
    
    padding: 10px 40px !important  
    width: -webkit-fill-available
    border-radius: 10px !important 
    font-weight: 900 !important 
    text-transform: uppercase 
    border: none 
    font-family: 'Montserrat'
    color: black
    background-color: transparent

#itemShowButt1
    padding: 10px 20px !important
    margin-bottom: 10px
    margin-left: 20px
    float: right
    width: -webkit-fill-available
    font-weight: 900 !important 
    font-family: 'Montserrat'
    color: #FC9444  
    background-color: white

#itemShowButt4
    padding: 10px 20px !important
    margin-bottom: 10px
    margin-left: 20px
    float: right
    width: -webkit-fill-available
    font-weight: 900 !important 
    font-family: 'Montserrat'
    color: black  
    background-color: white

#itemShowButt3
    padding: 10px 20px !important
    font-family: 'Montserrat'
    background-color: white
    
#item-desc
    color: black 
    padding-left: 30px

#itemShowButt2
    padding: 10px 40px !important  
    width: fit-content 
    border-radius: 10px !important 
    
    font-weight: 900 !important 
    text-transform: uppercase 
    border: solid  1px #ff8b42 
    font-family: 'Montserrat'
    color: white 
    background-color: #ff8b42 

#itemShowButt2 a
    color: white
    
#itemShowPar
  
    font-family: 'Montserrat'
    font-weight: 900 !important 
    
.itemShowAccount  
    height: 300px 
    background-repeat: no-repeat 
    background-position: center center 
    background-size: cover 

.itemShowExample  
    background-image: url('http://placehold.it/400x200')
    
// End of CSS for Item#show //

#categorySideBar
    background-color: #ff8b42
    color: white

#filterText
    font-size: 20px
    
.btn-change
    -webkit-transition: all 0.5s ease-in-out 
    padding: 10px 40px !important
    border-radius: 10px !important 
    font-family: 'Montserrat'

    
.btn-change:hover
    -webkit-transform: scale(1.1) 

#newItemBack
    padding: 10px 60px !important  
    
    border-radius: 10px !important 
    
    font-weight: 900 !important 
    text-transform: uppercase 
    border: solid  1px #ff8b42 
    font-family: 'Montserrat'
    color: white 
    background-color: #ff8b42 