#myheader1
    font-size: 18px
    color: #448AFF
    text-align: center

#mytable1
    color: #ff8b42 
    text-align: left

#mytitle
    color: black
    text-align: left
    
#mytrans1
    background-color: #f2f2f2
    
#myheader2
    font-size: 18px
    color: #448AFF
    text-align: left

#mytable
    color: #ff8b42 
    text-align: left