// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#myform 
    width: 100%
    padding: 12px 20px
    margin: 8px 0
    display: inline-block
    border: 1px solid #ccc
    border-radius: 4px
    box-sizing: border-box
    background-color: #f2f2f2

#myfield
    // width: 500px
    // height: 50px
    width: 100%
    padding: 12px 20px
    margin: 2px
    // display: inline-block
    // border: 1px solid #ccc
    // border-radius: 2px
#mylink
    padding-left: 770px
    
#mylink2
    padding-left: 650px
    
// Styling for user#show 

.nav-tabs
    font-size: 18px 
    border-width: 3px !important 
    border-color: #ff8b42 !important 
    color: #ff8b42 !important 
    float: none !important 
    display: inline-block !important 
    
 
.my-tab-content
    padding: 5px 
 
.nav-tabs > li > a 
    border: medium none  
     
 
.nav-tabs > li > a:hover   
    border: medium none 
    color: orange !important 
    border-color: #ff8b42 !important 
	
 
.nav-tabs > li.active > a 
    border-color: #ff8b42 !important 
    border-width: 3px !important 
    border-bottom: 0px !important 
 

#userbutt  
	
    text-align: center 
    padding: 20px 40px !important  
    width: 250px 
    border-radius: 15px !important 
    font-weight: 900 !important 
    text-transform: uppercase 
    border: solid #ff8b42 3px 
    font-family: 'Open Sans'  'Helvetica Neue'  Arial  sans-serif 
    background: transparent 
 

#userbutt2
    margin: 50px 10px 0 0 
    text-align: center 
    padding: 20px 30px !important  
    width: 230px 
    border-radius: 15px !important 
    font-weight: 900 !important 
    text-transform: uppercase 
    border: solid #ff8b42 3px 
    font-family: 'Open Sans'  'Helvetica Neue'  Arial  sans-serif 
    background: transparent
 


#userbutt2:focus  
    outline: none 
    color: white 
    background: #ff8b42 
 


.account  
    display: inline-block 
    height: 150px 
    width: 150px 
    border-radius: 50% 
    background-repeat: no-repeat 
    background-position: center center 
    background-size: cover 
 

.example  
    background-image: url('http://placehold.it/400x200') 

// End of styling for user#show 

    
